{{page-title "Index"}}
<div class="container margin-bottom">
  <div class="d-flex align-items-center margin-top">
    <h1>Form Generator</h1>
    <div class="d-flex ms-auto">
      <select class="form-select" id="vocabulary" aria-label="Vocabulary" {{on "change" this.changeVocabulary}}>
        <option value="http://rdf.danielbeeke.nl/form/form-dev.ttl#" selected={{if this.isRdfFormVocabulary true false}}>RDF-Form</option>
        <option value="http://www.w3.org/ns/ui#" selected={{if this.isSolidUiVocabulary true false}}>Solid-UI</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Available form fields
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">Drag and drop them in your form on the right</h6>
          <DraggableObject @content={{"string"}}>
            <div class="card">
              <div class="card-body">
                <FaIcon @icon="font" />
                Input String
              </div>
            </div>
          </DraggableObject>
          <DraggableObject @content={{"textarea"}}>
            <div class="card">
              <div class="card-body">
                <FaIcon @icon="text-height" />
                Textarea
              </div>
            </div>
          </DraggableObject>
          <DraggableObject @content={{"dropdown"}}>
            <div class="card">
              <div class="card-body">
                <FaIcon @icon="filter" />
                Select Dropdown
              </div>
            </div>
          </DraggableObject>
          <DraggableObject @content={{"date"}}>
            <div class="card">
              <div class="card-body">
                <FaIcon @icon="calendar-alt" />
                Date
              </div>
            </div>
          </DraggableObject>
          <DraggableObject @content={{"checkbox"}}>
            <div class="card">
              <div class="card-body">
                <FaIcon @icon="check-circle" />
                Checkbox
              </div>
            </div>
          </DraggableObject>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Your new form</h5>
          <h6 class="card-subtitle mb-2 text-muted">Drag and drop the form fields in this area to reorder them</h6>

          <div class="mb-3 row">
            <label for="binding-{{this.model.form.uuid}}" id="label-binding-{{this.model.form.uuid}}"
                   class="col-sm-3 col-form-label">Binding</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="binding-{{this.model.form.uuid}}" placeholder="Binding"
                     value={{this.model.form.binding.value}}
                {{ on "change" (fn this.updateBinding this.model.form) }}
                     aria-describedby="label-binding-{{this.model.form.uuid}}" />
            </div>
          </div>

          <SortableObjects @sortableObjectList={{this.fields}} @enableSort={{true}} @useSwap={{false}}
                           @inPlace={{false}} @sortingScope={{"formFields"}}>
            {{#each this.fields as |field|}}
              <DraggableObject @content={{field}} @isSortable="{{true}}" @sortingScope={{"formFields"}}>
                <div class="card" id="card-{{field.uuid}}">
                  <div class="card-body">
                    <div class="d-flex align-items-center field-title">
                      <h6 class="card-title">{{ field.widget }}</h6>
                      <div class="d-flex ms-auto">
                        <button type="button" class="btn btn-outline-danger" {{on "click"
                                                                                  (fn this.removeField field)}}>
                          <FaIcon @icon="trash-can" />
                        </button>
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="label-{{field.uuid}}" id="label-label-{{field.uuid}}" class="col-sm-3 col-form-label">Label</label>
                      <div class="col-sm-9">
                        <Input @type="text" class="form-control" id="label-{{field.uuid}}" placeholder="Label"
                               @value={{field.label}}
                               aria-describedby="label-label-{{this.field.uuid}}" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="binding-{{field.uuid}}" id="label-binding-{{field.uuid}}"
                             class="col-sm-3 col-form-label">Binding</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="binding-{{field.uuid}}" placeholder="Binding"
                               value={{field.binding.value}}
                          {{ on "change" (fn this.updateBinding field) }}
                               aria-describedby="label-binding-{{this.field.uuid}}" />
                      </div>
                    </div>
                    {{#if field.canHavePlaceholder}}
                      <div class="mb-3 row">
                        <label for="placeholder-{{field.uuid}}" id="label-placeholder-{{field.uuid}}"
                               class="col-sm-3 col-form-label">Placeholder</label>
                        <div class="col-sm-9">
                          <Input @type="text" class="form-control" id="placeholder-{{field.uuid}}"
                                 placeholder="Placeholder"
                                 @value={{field.placeholder}}
                                 aria-describedby="label-placeholder-{{this.field.uuid}}" />
                        </div>
                      </div>
                    {{/if}}
                    <div class="form-check">
                      <Input @type="checkbox" class="form-check-input" id="required-{{field.uuid}}"
                             name="required-{{field.uuid}}" @checked={{field.required}} />
                      <label class="form-check-label" for="required-{{field.uuid}}">Required</label>
                    </div>
                    <div class="form-check">
                      <Input @type="checkbox" class="form-check-input" id="multiple-{{field.uuid}}"
                             name="multiple-{{field.uuid}}" @checked={{field.multiple}} />
                      <label class="form-check-label" for="multiple-{{field.uuid}}">Allow multiple</label>
                    </div>
                    {{#if field.isSelect}}
                      {{#if field.canHaveChoiceBinding}}
                        <hr>
                        <div class="mb-3 row">
                          <label for="choice-binding-{{field.uuid}}" id="choice-label-binding-{{field.uuid}}"
                                 class="col-sm-3 col-form-label">Choice Binding</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" id="choice-binding-{{field.uuid}}" placeholder="Choice Binding"
                                   value={{field.choice.uri.value}}
                              {{ on "change" (fn this.updateChoiceBinding field) }}
                                   aria-describedby="choice-label-binding-{{this.field.uuid}}" />
                          </div>
                        </div>
                      {{/if}}
                      <hr>
                      <h6 class="card-subtitle mb-2 text-muted">Options</h6>
                      <div class="mb-3 row">
                        <div class="col-sm-10">
                          {{#each field.options as |option|}}
                            <div class="input-group mb-3">
                              <Input @type="text" class="form-control" id="label-{{option.uuid}}" placeholder="Label"
                                     @value={{option.label}} aria-describedby="delete-{{option.uuid}}" />
                              <input type="text" class="form-control" id="binding-{{option.uuid}}" placeholder="Binding"
                                     value={{option.binding.value}} aria-describedby="delete-{{option.uuid}}" {{ on
                                "change" (fn this.updateBinding option) }} />
                              <button class="btn btn-outline-danger" type="button" id="delete-{{option.uuid}}" {{ on
                                "click" (fn this.removeOption field option) }}>
                                <FaIcon @icon="trash-can" />
                              </button>
                            </div>
                          {{/each}}
                        </div>
                        <div class="col-sm-2">
                          <button type="button" class="btn btn-outline-success" {{ on "click"
                                                                                      (fn this.addOption field) }}>
                            <FaIcon @icon="plus" />
                          </button>
                        </div>
                      </div>
                    {{/if}}
                  </div>
                </div>
              </DraggableObject>
            {{/each}}
          </SortableObjects>

          <DraggableObjectTarget @action={{this.addFormElement}} amount={{"5"}}>
            <div class="card">
              <div class="card-body">
                Drag here to add form field
              </div>
            </div>
          </DraggableObjectTarget>

          <button type="button" class="btn btn-success btn-margin" {{ on "click" this.save }}>Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}