{{page-title "Index"}}
<div class="container">
  <h1>Form Generator</h1>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Available form fields
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">Drag and drop them in your form on the right</h6>
          <DraggableObject @content={{"string"}}>
            <div class="card">
              <div class="card-body">
                <FaIcon @icon="font" /> Input String
              </div>
            </div>
          </DraggableObject>
          <DraggableObject @content={{"textarea"}}>
            <div class="card">
              <div class="card-body">
                <FaIcon @icon="text-height" /> Textarea
              </div>
            </div>
          </DraggableObject>
          <DraggableObject @content={{"dropdown"}}>
            <div class="card">
              <div class="card-body">
                <FaIcon @icon="filter" /> Select Dropdown
              </div>
            </div>
          </DraggableObject>
          <DraggableObject @content={{"date"}}>
            <div class="card">
              <div class="card-body">
                <FaIcon @icon="calendar-alt" /> Date
              </div>
            </div>
          </DraggableObject>
          <DraggableObject @content={{"checkbox"}}>
            <div class="card">
              <div class="card-body">
                <FaIcon @icon="check-circle" /> Checkbox
              </div>
            </div>
          </DraggableObject>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Your new form</h5>

          <div class="mb-3 row">
            <label for="binding-{{this.model.uri}}" class="col-sm-3 col-form-label">Binding</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="binding-{{this.model.uri}}" placeholder="Binding"
                     value={{this.model.binding.value}}
                {{ on "change" (fn this.updateBinding this.model) }} aria-describedby="binding" />
            </div>
          </div>

          <SortableObjects @sortableObjectList={{this.fields}} @enableSort={{true}} @useSwap={{false}}
                           @inPlace={{false}} @sortingScope={{"formFields"}}>
            {{#each this.fields as |field|}}
              <DraggableObject @content={{field}} @isSortable="{{true}}" @sortingScope={{"formFields"}}>
                <div class="card" id="card-{{field.uri}}">
                  <div class="card-body">
                    <h6 class="card-title">{{ field.widget }}</h6>
                    <div class="mb-3 row">
                      <label for="label-{{field.uri}}" class="col-sm-3 col-form-label">Label</label>
                      <div class="col-sm-9">
                        <Input @type="text" class="form-control" id="label-{{field.uri}}" placeholder="Label"
                               @value={{field.label}}
                               aria-describedby="label" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="binding-{{field.uri}}" class="col-sm-3 col-form-label">Binding</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="binding-{{field.uri}}" placeholder="Binding"
                               value={{field.binding.value}}
                          {{ on "change" (fn this.updateBinding field) }} aria-describedby="binding" />
                      </div>
                    </div>
                    <div class="form-check">
                      <Input @type="checkbox" class="form-check-input" id="required-{{field.uri}}"
                             name="required-{{field.uri}}" @checked={{field.required}} />
                      <label class="form-check-label" for="required-{{field.uri}}">Required</label>
                    </div>
                    {{#if field.isSelect}}
                      <hr>
                      <h6 class="card-subtitle mb-2 text-muted">Options</h6>
                      <div class="mb-3 row">
                        <div class="col-sm-10">
                          {{#each field.options as |option|}}
                            <div class="input-group mb-3">
                              <Input @type="text" class="form-control" id="label-{{option.uri}}" placeholder="Label"
                                     @value={{option.label}} aria-describedby="delete-{{option.uri}}" />
                              <input type="text" class="form-control" id="binding-{{option.uri}}" placeholder="Binding"
                                     value={{option.binding.value}} aria-describedby="delete-{{option.uri}}" {{ on
                                "change" (fn this.updateBinding option) }} />
                              <button class="btn btn-outline-danger" type="button" id="delete-{{option.uri}}" {{ on
                                "click" (fn this.removeOption field option) }}>
                                <FaIcon @icon="trash-can" />
                              </button>
                            </div>
                          {{/each}}
                        </div>
                        <div class="col-sm-2">
                          <button type="button" class="btn btn-outline-success" {{ on "click"
                                                                                      (fn this.addOption field) }}>
                            <FaIcon @icon="plus" />
                          </button>
                        </div>
                      </div>
                    {{/if}}
                  </div>
                </div>
              </DraggableObject>
            {{/each}}
          </SortableObjects>

          <DraggableObjectTarget @action={{this.addFormElement}} amount={{"5"}}>
            <div class="card">
              <div class="card-body">
                Drag here to add form field
              </div>
            </div>
          </DraggableObjectTarget>

          <button type="button" class="btn btn-success btn-margin" {{ on "click" this.save }}>Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}