{{page-title "Index"}}
<a href="https://github.com/smessie/FormGenerator"><img loading="lazy" width="149" height="149"
                                                        src="./forkme_right_gray.png"
                                                        class="attachment-full size-full fork" alt="Fork me on GitHub"
                                                        data-recalc-dims="1"></a>
<div class="container margin-bottom">
  <div class="d-flex align-items-center margin-top">
    <h1>Form Generator</h1>
    <div class="d-flex ms-auto">
      <select class="form-select" aria-label="Vocabulary" {{on "change" this.changeVocabulary}}
              disabled={{this.model.fields.length}}>
        <option value="http://www.w3.org/ns/shacl#" selected={{this.isEqual this.model.vocabulary
                                                                            "http://www.w3.org/ns/shacl#"}}>SHACL
        </option>
        <option value="http://rdf.danielbeeke.nl/form/form-dev.ttl#" selected={{this.isEqual this.model.vocabulary
                                                                                             "http://rdf.danielbeeke.nl/form/form-dev.ttl#"}}>
          RDF-Form
        </option>
        <option value="http://www.w3.org/ns/ui#" selected={{this.isEqual this.model.vocabulary
                                                                         "http://www.w3.org/ns/ui#"}}>Solid-UI
        </option>
      </select>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Authentication</h5>
      {{#if this.solidAuth.loggedIn}}
        <p class="card-text text-success">You are authenticated as {{this.solidAuth.loggedIn}}</p>
        <button type="button" class="btn btn-outline-danger" {{on "click" this.logout}}>Logout</button>
      {{else}}
        <Input @type="text" class="form-control mb-3" id="oidc-issuer" placeholder="OIDC Issuer"
               @value={{this.oidcIssuer}} />
        {{#if this.authError }}
          <small class="text-danger">{{ this.authError }}<br></small>
        {{/if}}
        <button type="button" class="btn btn-outline-success" {{on "click" this.login}}>Login</button>
      {{/if}}
    </div>
  </div>

  <form {{ on "submit" this.loadForm }} class="margin-top">
    <div class="input-group">
      <button class="btn btn-outline-success" type="submit" id="load-btn">Load</button>
      <Input @type="text" class="form-control" id="uri" placeholder="Load from URI"
             @value={{this.model.loadedFormUri}} aria-describedby="load" />
    </div>
    <small id="load" class="form-text text-muted">When loading a form resource, any changes will be discarded and the
      given URI will be loaded.</small>
    <p class="text-warning"><strong>Beware!</strong> This is only a proof of concepts, not all field types by the
      vocabularies are supported.</p>
  </form>

  {{#if this.model.success}}
    <div class="alert alert-success alert-dismissible margin-top">
      {{this.model.success}}
      <button type="button" class="btn-close" aria-label="Close" {{on 'click' this.clearSuccess}}></button>
    </div>
  {{/if}}
  {{#if this.model.error}}
    <div class="alert alert-danger alert-dismissible margin-top">
      {{this.model.error}}
      <button type="button" class="btn-close" aria-label="Close" {{on 'click' this.clearError}}></button>
    </div>
  {{/if}}
  {{#if this.model.info}}
    <div class="alert alert-info alert-dismissible margin-top">
      {{this.model.info}}
      <button type="button" class="btn-close" aria-label="Close" {{on 'click' this.clearInfo}}></button>
    </div>
  {{/if}}

  <div class="row">
    <div class="col-md-4">
      <div class="sticky-top">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Available policies</h5>
            <h6 class="card-subtitle mb-2 text-muted">Drag and drop them in your policies on the right</h6>
            <DraggableObject @content={{"policy-http-request"}}>
              <div class="card">
                <div class="card-body">
                  <FaIcon @icon="globe" />
                  HTTP Request
                </div>
              </div>
            </DraggableObject>
            <DraggableObject @content={{"policy-redirect"}}>
              <div class="card">
                <div class="card-body">
                  <FaIcon @icon="external-link" />
                  Redirect
                </div>
              </div>
            </DraggableObject>
            <DraggableObject @content={{"policy-n3-patch"}}>
              <div class="card">
                <div class="card-body">
                  <FaIcon @icon="file-code" />
                  N3 Patch
                </div>
              </div>
            </DraggableObject>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Available form fields
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">Drag and drop them in your form on the right</h6>
            <DraggableObject @content={{"string"}}>
              <div class="card">
                <div class="card-body">
                  <FaIcon @icon="font" />
                  Input String
                </div>
              </div>
            </DraggableObject>
            {{#if (this.isEqual this.model.vocabulary "http://www.w3.org/ns/shacl#") }}
            {{ else }}
              <DraggableObject @content={{"textarea"}}>
                <div class="card">
                  <div class="card-body">
                    <FaIcon @icon="text-height" />
                    Textarea
                  </div>
                </div>
              </DraggableObject>
            {{/if}}
            <DraggableObject @content={{"dropdown"}}>
              <div class="card">
                <div class="card-body">
                  <FaIcon @icon="filter" />
                  Select Dropdown
                </div>
              </div>
            </DraggableObject>
            <DraggableObject @content={{"date"}}>
              <div class="card">
                <div class="card-body">
                  <FaIcon @icon="calendar-alt" />
                  Date
                </div>
              </div>
            </DraggableObject>
            <DraggableObject @content={{"checkbox"}}>
              <div class="card">
                <div class="card-body">
                  <FaIcon @icon="check-circle" />
                  Checkbox
                </div>
              </div>
            </DraggableObject>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Your new form</h5>
          <h6 class="card-subtitle mb-2 text-muted">Drag and drop the form fields in this area to reorder them</h6>

          <div class="mb-3 row">
            <label for="binding" id="label-binding"
                   class="col-sm-3 col-form-label">Binding</label>
            <div class="col-sm-9">
              <Input @type="text" class="form-control" id="binding" placeholder="Binding"
                     @value={{this.model.formTargetClass}} aria-describedby="label-binding"
                {{ on "change" this.updateFormBinding }} />
              {{#if this.model.formTargetClassError }}
                <small class="text-danger">{{ this.model.formTargetClassError }}</small>
              {{/if}}
            </div>
          </div>

          <hr>

          {{#each this.model.policies as |policy|}}

            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center field-title">
                  {{#if (this.isEqual policy.executionTarget "http://example.org/httpRequest") }}
                    <h6 class="card-title">
                      <FaIcon @icon="globe" />
                      HTTP Request
                    </h6>
                  {{else if (this.isEqual policy.executionTarget "http://example.org/redirect") }}
                    <h6 class="card-title">
                      <FaIcon @icon="external-link" />
                      Redirect
                    </h6>
                  {{else if (this.isEqual policy.executionTarget "http://example.org/n3Patch") }}
                    <h6 class="card-title">
                      <FaIcon @icon="file-code" />
                      N3 Patch
                    </h6>
                  {{/if}}
                  <div class="d-flex ms-auto">
                    <button type="button" class="btn btn-outline-danger" {{on "click"
                                                                              (fn this.removePolicy policy)}}>
                      <FaIcon @icon="trash-can" />
                    </button>
                  </div>
                </div>

                <div class="mb-3 row">
                  <label for="url-{{policy.uuid}}" id="label-url-{{policy.uuid}}"
                         class="col-sm-3 col-form-label">URL</label>
                  <div class="col-sm-9">
                    <Input @type="text" class="form-control" id="url-{{policy.uuid}}"
                           @value={{policy.url}} placeholder="https://httpbin.org/post"
                           aria-describedby="label-policy-{{policy.uuid}}" />
                    {{#if policy.urlError }}
                      <small class="text-danger">{{ policy.urlError }}</small>
                    {{/if}}
                  </div>
                </div>

                {{#if (this.isEqual policy.executionTarget "http://example.org/httpRequest") }}
                  <div class="mb-3 row">
                    <label for="method-{{policy.uuid}}" id="label-method-{{policy.uuid}}"
                           class="col-sm-3 col-form-label">HTTP Method</label>
                    <div class="col-sm-9">
                      <select class="form-select" id="method-{{policy.uuid}}"
                        {{ on "change" (fn this.updatePolicyMethod policy) }}
                              aria-describedby="label-method-{{policy.uuid}}">
                        <option value="POST" selected={{this.isEqual policy.method "POST"}}>POST</option>
                        <option value="PUT" selected={{this.isEqual policy.method "PUT"}}>PUT</option>
                        <option value="GET" selected={{this.isEqual policy.method "GET"}}>GET</option>
                        <option value="PATCH" selected={{this.isEqual policy.method "PATCH"}}>PATCH</option>
                        <option value="DELETE" selected={{this.isEqual policy.method "DELETE"}}>DELETE</option>
                      </select>
                      {{#if policy.methodError }}
                        <small class="text-danger">{{ policy.methodError }}</small>
                      {{/if}}
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="content-type-{{policy.uuid}}" id="label-content-type-{{policy.uuid}}"
                           class="col-sm-3 col-form-label">Content-Type</label>
                    <div class="col-sm-9">
                      <Input @type="text" class="form-control" id="content-type-{{policy.uuid}}"
                             @value={{policy.contentType}} placeholder="application/ld+json"
                             aria-describedby="label-content-type-{{policy.uuid}}" />
                      {{#if policy.contentTypeError }}
                        <small class="text-danger">{{ policy.contentTypeError }}</small>
                      {{/if}}
                    </div>
                  </div>
                {{/if}}
              </div>
            </div>

          {{/each}}

          <DraggableObjectTarget @action={{this.addPolicy}} amount={{"5"}}>
            <div class="card">
              <div class="card-body">
                Drag here to add policy
              </div>
            </div>
          </DraggableObjectTarget>

          <hr>

          <SortableObjects @sortableObjectList={{this.model.fields}} @enableSort={{true}} @useSwap={{false}}
                           @inPlace={{false}} @sortingScope={{"formFields"}}>
            {{#each this.model.fields as |field|}}
              <DraggableObject @content={{field}} @isSortable="{{true}}" @sortingScope={{"formFields"}}>
                <div class="card" id="card-{{field.uuid}}">
                  <div class="card-body">
                    <div class="d-flex align-items-center field-title">
                      {{#if (this.isEqual field.widget "string") }}
                        <h6 class="card-title">
                          <FaIcon @icon="font" />
                          Input String
                        </h6>
                      {{else if (this.isEqual field.widget "textarea") }}
                        <h6 class="card-title">
                          <FaIcon @icon="text-height" />
                          Textarea
                        </h6>
                      {{else if (this.isEqual field.widget "dropdown")}}
                        <h6 class="card-title">
                          <FaIcon @icon="filter" />
                          Select Dropdown
                        </h6>
                      {{else if (this.isEqual field.widget "date") }}
                        <h6 class="card-title">
                          <FaIcon @icon="calendar-alt" />
                          Date
                        </h6>
                      {{else if (this.isEqual field.widget "checkbox") }}
                        <h6 class="card-title">
                          <FaIcon @icon="check-circle" />
                          Checkbox
                        </h6>
                      {{/if}}
                      <div class="d-flex ms-auto">
                        <button type="button" class="btn btn-outline-danger" {{on "click"
                                                                                  (fn this.removeField field)}}>
                          <FaIcon @icon="trash-can" />
                        </button>
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="label-{{field.uuid}}" id="label-label-{{field.uuid}}" class="col-sm-3 col-form-label">Label</label>
                      <div class="col-sm-9">
                        <Input @type="text" class="form-control" id="label-{{field.uuid}}" placeholder="Label"
                               @value={{field.label}}
                               aria-describedby="label-label-{{field.uuid}}" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="binding-{{field.uuid}}" id="label-binding-{{field.uuid}}"
                             class="col-sm-3 col-form-label">Binding</label>
                      <div class="col-sm-9">
                        <Input @type="text" class="form-control" id="binding-{{field.uuid}}" placeholder="Binding"
                               @value={{field.property}}
                          {{ on "change" (fn this.updateBinding field) }}
                               aria-describedby="label-binding-{{field.uuid}}" />
                        {{#if field.error }}
                          <small class="text-danger">{{ field.error }}</small>
                        {{/if}}
                      </div>
                    </div>
                    {{#if field.canHavePlaceholder}}
                      <div class="mb-3 row">
                        <label for="placeholder-{{field.uuid}}" id="label-placeholder-{{field.uuid}}"
                               class="col-sm-3 col-form-label">Placeholder</label>
                        <div class="col-sm-9">
                          <Input @type="text" class="form-control" id="placeholder-{{field.uuid}}"
                                 placeholder="Placeholder"
                                 @value={{field.placeholder}}
                                 aria-describedby="label-placeholder-{{field.uuid}}" />
                        </div>
                      </div>
                    {{/if}}
                    {{#if (this.isEqual this.model.vocabulary "http://www.w3.org/ns/shacl#") }}
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="label-min-{{field.uuid}}">Min count</span>
                        <Input @type="integer" class="form-control" id="min-{{field.uuid}}" placeholder="Min count"
                               @value={{field.minCount}} aria-describedby="label-min-{{field.uuid}}" />
                        <span class="input-group-text" id="label-max-{{field.uuid}}">Max count</span>
                        <Input @type="integer" class="form-control" id="max-{{field.uuid}}" placeholder="Max count"
                               @value={{field.maxCount}} aria-describedby="label-max-{{field.uuid}}" />
                      </div>
                    {{ else }}
                      <div class="form-check">
                        <Input @type="checkbox" class="form-check-input" id="required-{{field.uuid}}"
                               name="required-{{field.uuid}}" @checked={{field.required}} />
                        <label class="form-check-label" for="required-{{field.uuid}}">Required</label>
                      </div>
                      <div class="form-check">
                        <Input @type="checkbox" class="form-check-input" id="multiple-{{field.uuid}}"
                               name="multiple-{{field.uuid}}" @checked={{field.multiple}} />
                        <label class="form-check-label" for="multiple-{{field.uuid}}">Allow multiple</label>
                      </div>
                    {{/if}}
                    {{#if field.isSelect}}
                      {{#if field.canHaveChoiceBinding}}
                        <hr>
                        <div class="mb-3 row">
                          <label for="choice-binding-{{field.uuid}}" id="choice-label-binding-{{field.uuid}}"
                                 class="col-sm-3 col-form-label">Choice Binding</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" id="choice-binding-{{field.uuid}}"
                                   placeholder="Choice Binding"
                                   value={{field.choice}}
                              {{ on "change" (fn this.updateChoiceBinding field) }}
                                   aria-describedby="choice-label-binding-{{field.uuid}}" />
                            {{#if field.choiceError }}
                              <small class="text-danger">{{ field.choiceError }}</small>
                            {{/if}}
                          </div>
                        </div>
                      {{/if}}
                      <hr>
                      <h6 class="card-subtitle mb-2 text-muted">Options</h6>
                      <div class="mb-3 row">
                        <div class="col-sm-10">
                          {{#each field.options as |option|}}
                            <div class="input-group mt-3">
                              <Input @type="text" class="form-control" id="label-{{option.uuid}}" placeholder="Label"
                                     @value={{option.label}} aria-describedby="delete-{{option.uuid}}" />
                              <Input @type="text" class="form-control" id="binding-{{option.uuid}}" placeholder="Binding"
                                     @value={{option.property}} aria-describedby="delete-{{option.uuid}}" {{ on
                                "change" (fn this.updateBinding option) }} />
                              <button class="btn btn-outline-danger" type="button" id="delete-{{option.uuid}}" {{ on
                                "click" (fn this.removeOption field option) }}>
                                <FaIcon @icon="trash-can" />
                              </button>
                            </div>
                            {{#if option.error }}
                              <small class="text-danger">{{ option.error }}</small>
                            {{/if}}
                          {{/each}}
                        </div>
                        <div class="col-sm-2 mt-3">
                          <button type="button" class="btn btn-outline-success" {{ on "click"
                                                                                      (fn this.addOption field) }}>
                            <FaIcon @icon="plus" />
                          </button>
                        </div>
                      </div>
                    {{/if}}
                  </div>
                </div>
              </DraggableObject>
            {{/each}}
          </SortableObjects>

          <DraggableObjectTarget @action={{this.addFormElement}} amount={{"5"}}>
            <div class="card">
              <div class="card-body">
                Drag here to add form field
              </div>
            </div>
          </DraggableObjectTarget>

          <button type="button" class="btn btn-success btn-margin" {{ on "click" this.save }}>Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
