{{page-title "Index"}}
<a href="https://github.com/smessie/FormGenerator"><img loading="lazy" width="149" height="149" src="/forkme_right_gray.png" class="attachment-full size-full fork" alt="Fork me on GitHub" data-recalc-dims="1"></a>
<div class="container margin-bottom">
  <div class="d-flex align-items-center margin-top">
    <h1>Form Generator</h1>
    <div class="d-flex ms-auto">
      <select class="form-select" aria-label="Vocabulary" {{on "change" this.changeVocabulary}}
              disabled={{if this.fields true false}}>
        <option value="http://www.w3.org/ns/shacl#" selected={{if this.isShaclVocabulary true false}}>SHACL</option>
        <option value="http://rdf.danielbeeke.nl/form/form-dev.ttl#" selected={{if this.isRdfFormVocabulary true
                                                                                   false}}>RDF-Form
        </option>
        <option value="http://www.w3.org/ns/ui#" selected={{if this.isSolidUiVocabulary true false}}>Solid-UI</option>
      </select>
      <button type="button" class="btn btn-outline-danger logout-btn" {{on "click" this.logout}}>Logout</button>
    </div>
  </div>

  <form {{ on "submit" this.loadForm }} class="margin-top">
    <div class="input-group">
      <button class="btn btn-outline-success" type="submit" id="load-btn">Load</button>
      <Input @type="text" class="form-control" id="uri" placeholder="Load from URI"
             @value={{this.model.loadedFormUri}} aria-describedby="load" />
    </div>
    <small id="load" class="form-text text-muted">When loading a form resource, any changes will be discarded and the
      given URI will be loaded.</small>
    <p class="text-warning"><strong>Beware!</strong> This is only a proof of concepts, not all field types by the vocabularies are supported.</p>
  </form>

  {{#if this.success}}
    <div class="alert alert-success alert-dismissible margin-top">
      {{this.success}}
      <button type="button" class="btn-close" aria-label="Close" {{on 'click' this.clearSuccess}}></button>
    </div>
  {{/if}}
  {{#if this.error}}
    <div class="alert alert-danger alert-dismissible margin-top">
      {{this.error}}
      <button type="button" class="btn-close" aria-label="Close" {{on 'click' this.clearError}}></button>
    </div>
  {{/if}}

  <div class="row">
    <div class="col-md-4">
      <div class="card sticky-top">
        <div class="card-body">
          <h5 class="card-title">
            Available form fields
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">Drag and drop them in your form on the right</h6>
          <DraggableObject @content={{"string"}}>
            <div class="card">
              <div class="card-body">
                <FaIcon @icon="font" />
                Input String
              </div>
            </div>
          </DraggableObject>
          {{#if this.isShaclVocabulary }}
          {{ else }}
            <DraggableObject @content={{"textarea"}}>
              <div class="card">
                <div class="card-body">
                  <FaIcon @icon="text-height" />
                  Textarea
                </div>
              </div>
            </DraggableObject>
          {{/if}}
          <DraggableObject @content={{"dropdown"}}>
            <div class="card">
              <div class="card-body">
                <FaIcon @icon="filter" />
                Select Dropdown
              </div>
            </div>
          </DraggableObject>
          <DraggableObject @content={{"date"}}>
            <div class="card">
              <div class="card-body">
                <FaIcon @icon="calendar-alt" />
                Date
              </div>
            </div>
          </DraggableObject>
          <DraggableObject @content={{"checkbox"}}>
            <div class="card">
              <div class="card-body">
                <FaIcon @icon="check-circle" />
                Checkbox
              </div>
            </div>
          </DraggableObject>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Your new form</h5>
          <h6 class="card-subtitle mb-2 text-muted">Drag and drop the form fields in this area to reorder them</h6>

          <div class="mb-3 row">
            <label for="binding-{{this.model.form.uuid}}" id="label-binding-{{this.model.form.uuid}}"
                   class="col-sm-3 col-form-label">Binding</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="binding-{{this.model.form.uuid}}" placeholder="Binding"
                     value={{this.model.form.binding.value}}
                {{ on "change" (fn this.updateBinding this.model.form) }}
                     aria-describedby="label-binding-{{this.model.form.uuid}}" />
              {{#if this.model.form.error }}
                <small class="text-danger">{{ this.model.form.error }}</small>
              {{/if}}
            </div>
          </div>

          <hr>
          <h6 class="card-subtitle mb-2 text-muted">Fill in the details below about where the data should be stored when someone fill in the form and click submit.</h6>

          <div class="mb-3 row">
            <label for="policy-type-{{this.model.form.uuid}}" id="label-policy-type-{{this.model.form.uuid}}"
                   class="col-sm-3 col-form-label">Policy Type</label>
            <div class="col-sm-9">
              <select class="form-select" id="policy-type-{{this.model.form.uuid}}"
                      {{ on "change" this.updatePolicyType }}
                      aria-describedby="label-policy-type-{{this.model.form.uuid}}">
                <option value="HTTP" selected={{this.isEqual this.model.policyType "HTTP"}}>HTTP Request</option>
              </select>
              {{#if this.policyTypeError }}
                <small class="text-danger">{{ this.policyTypeError }}</small>
              {{/if}}
            </div>
          </div>

          <div class="mb-3 row">
            <label for="policy-url-{{this.model.form.uuid}}" id="label-policy-url-{{this.model.form.uuid}}"
                   class="col-sm-3 col-form-label">Policy URL</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="policy-url-{{this.model.form.uuid}}" placeholder="https://httpbin.org/post"
                     value={{this.model.policyURL}} {{ on "change" this.updatePolicyURL }}
                     aria-describedby="label-policy-url-{{this.model.form.uuid}}" />
              {{#if this.policyURLError }}
                <small class="text-danger">{{ this.policyURLError }}</small>
              {{/if}}
            </div>
          </div>

          <div class="mb-3 row">
            <label for="policy-method-{{this.model.form.uuid}}" id="label-policy-method-{{this.model.form.uuid}}"
                   class="col-sm-3 col-form-label">Policy HTTP Method</label>
            <div class="col-sm-9">
              <select class="form-select" id="policy-method-{{this.model.form.uuid}}"
                      {{ on "change" this.updatePolicyMethod }}
                      aria-describedby="label-policy-method-{{this.model.form.uuid}}">
                <option value="POST" selected={{this.isEqual this.model.policyMethod "POST"}}>POST</option>
                <option value="PUT" selected={{this.isEqual this.model.policyMethod "PUT"}}>PUT</option>
                <option value="GET" selected={{this.isEqual this.model.policyMethod "GET"}}>GET</option>
                <option value="PATCH" selected={{this.isEqual this.model.policyMethod "PATCH"}}>PATCH</option>
                <option value="DELETE" selected={{this.isEqual this.model.policyMethod "DELETE"}}>DELETE</option>
              </select>
              {{#if this.policyMethodError }}
                <small class="text-danger">{{ this.policyMethodError }}</small>
              {{/if}}
            </div>
          </div>

          <div class="mb-3 row">
            <label for="policy-content-type-{{this.model.form.uuid}}" id="label-policy-content-type-{{this.model.form.uuid}}"
                   class="col-sm-3 col-form-label">Policy Content-Type</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="policy-content-type-{{this.model.form.uuid}}" placeholder="application/ld+json"
                     value={{this.model.policyContentType}} {{ on "change" this.updatePolicyContentType }}
                     aria-describedby="label-policy-content-type-{{this.model.form.uuid}}" />
              {{#if this.policyContentTypeError }}
                <small class="text-danger">{{ this.policyContentTypeError }}</small>
              {{/if}}
            </div>
          </div>

          <hr>

          <h6 class="card-subtitle mb-2 text-muted">Fill in the URL to which the user should be sent after submitting the form.</h6>
          <div class="mb-3 row">
            <label for="policy-redirect-url-{{this.model.form.uuid}}" id="label-policy-redirect-url-{{this.model.form.uuid}}"
                   class="col-sm-3 col-form-label">Policy Redirect URL</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="policy-redirect-url-{{this.model.form.uuid}}" placeholder="https://formgenerator.smessie.com"
                     value={{this.model.policyRedirectUrl}} {{ on "change" this.updatePolicyRedirectUrl }}
                     aria-describedby="label-policy-redirect-url-{{this.model.form.uuid}}" />
            </div>
          </div>

          <hr>

          <SortableObjects @sortableObjectList={{this.fields}} @enableSort={{true}} @useSwap={{false}}
                           @inPlace={{false}} @sortingScope={{"formFields"}}>
            {{#each this.fields as |field|}}
              <DraggableObject @content={{field}} @isSortable="{{true}}" @sortingScope={{"formFields"}}>
                <div class="card" id="card-{{field.uuid}}">
                  <div class="card-body">
                    <div class="d-flex align-items-center field-title">
                      {{#if (this.isEqual field.widget "string") }}
                        <h6 class="card-title">
                          <FaIcon @icon="font" />
                          Input String
                        </h6>
                      {{else if (this.isEqual field.widget "textarea") }}
                        <h6 class="card-title">
                          <FaIcon @icon="text-height" />
                          Textarea
                        </h6>
                      {{else if (this.isEqual field.widget "dropdown")}}
                        <h6 class="card-title">
                          <FaIcon @icon="filter" />
                          Select Dropdown
                        </h6>
                      {{else if (this.isEqual field.widget "date") }}
                        <h6 class="card-title">
                          <FaIcon @icon="calendar-alt" />
                          Date
                        </h6>
                      {{else if (this.isEqual field.widget "checkbox") }}
                        <h6 class="card-title">
                          <FaIcon @icon="check-circle" />
                          Checkbox
                        </h6>
                      {{/if}}
                      <div class="d-flex ms-auto">
                        <button type="button" class="btn btn-outline-danger" {{on "click"
                                                                                  (fn this.removeField field)}}>
                          <FaIcon @icon="trash-can" />
                        </button>
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="label-{{field.uuid}}" id="label-label-{{field.uuid}}" class="col-sm-3 col-form-label">Label</label>
                      <div class="col-sm-9">
                        <Input @type="text" class="form-control" id="label-{{field.uuid}}" placeholder="Label"
                               @value={{field.label}}
                               aria-describedby="label-label-{{this.field.uuid}}" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="binding-{{field.uuid}}" id="label-binding-{{field.uuid}}"
                             class="col-sm-3 col-form-label">Binding</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="binding-{{field.uuid}}" placeholder="Binding"
                               value={{field.binding.value}}
                          {{ on "change" (fn this.updateBinding field) }}
                               aria-describedby="label-binding-{{field.uuid}}" />
                        {{#if field.error }}
                          <small class="text-danger">{{ field.error }}</small>
                        {{/if}}
                      </div>
                    </div>
                    {{#if field.canHavePlaceholder}}
                      <div class="mb-3 row">
                        <label for="placeholder-{{field.uuid}}" id="label-placeholder-{{field.uuid}}"
                               class="col-sm-3 col-form-label">Placeholder</label>
                        <div class="col-sm-9">
                          <Input @type="text" class="form-control" id="placeholder-{{field.uuid}}"
                                 placeholder="Placeholder"
                                 @value={{field.placeholder}}
                                 aria-describedby="label-placeholder-{{this.field.uuid}}" />
                        </div>
                      </div>
                    {{/if}}
                    {{#if this.isShaclVocabulary }}
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="label-min-{{field.uuid}}">Min count</span>
                        <Input @type="integer" class="form-control" id="min-{{field.uuid}}" placeholder="Min count"
                               @value={{field.minCount}} aria-describedby="label-min-{{field.uuid}}" />
                        <span class="input-group-text" id="label-max-{{field.uuid}}">Max count</span>
                        <Input @type="integer" class="form-control" id="max-{{field.uuid}}" placeholder="Max count"
                               @value={{field.maxCount}} aria-describedby="label-max-{{field.uuid}}" />
                      </div>
                    {{ else }}
                      <div class="form-check">
                        <Input @type="checkbox" class="form-check-input" id="required-{{field.uuid}}"
                               name="required-{{field.uuid}}" @checked={{field.required}} />
                        <label class="form-check-label" for="required-{{field.uuid}}">Required</label>
                      </div>
                      <div class="form-check">
                        <Input @type="checkbox" class="form-check-input" id="multiple-{{field.uuid}}"
                               name="multiple-{{field.uuid}}" @checked={{field.multiple}} />
                        <label class="form-check-label" for="multiple-{{field.uuid}}">Allow multiple</label>
                      </div>
                    {{/if}}
                    {{#if field.isSelect}}
                      {{#if field.canHaveChoiceBinding}}
                        <hr>
                        <div class="mb-3 row">
                          <label for="choice-binding-{{field.uuid}}" id="choice-label-binding-{{field.uuid}}"
                                 class="col-sm-3 col-form-label">Choice Binding</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" id="choice-binding-{{field.uuid}}"
                                   placeholder="Choice Binding"
                                   value={{field.choice.uri.value}}
                              {{ on "change" (fn this.updateChoiceBinding field) }}
                                   aria-describedby="choice-label-binding-{{this.field.uuid}}" />
                            {{#if field.choice.error }}
                              <small class="text-danger">{{ field.choice.error }}</small>
                            {{/if}}
                          </div>
                        </div>
                      {{/if}}
                      <hr>
                      <h6 class="card-subtitle mb-2 text-muted">Options</h6>
                      <div class="mb-3 row">
                        <div class="col-sm-10">
                          {{#each field.options as |option|}}
                            <div class="input-group mt-3">
                              <Input @type="text" class="form-control" id="label-{{option.uuid}}" placeholder="Label"
                                     @value={{option.label}} aria-describedby="delete-{{option.uuid}}" />
                              <input type="text" class="form-control" id="binding-{{option.uuid}}" placeholder="Binding"
                                     value={{option.binding.value}} aria-describedby="delete-{{option.uuid}}" {{ on
                                "change" (fn this.updateBinding option) }} />
                              <button class="btn btn-outline-danger" type="button" id="delete-{{option.uuid}}" {{ on
                                "click" (fn this.removeOption field option) }}>
                                <FaIcon @icon="trash-can" />
                              </button>
                            </div>
                            {{#if option.error }}
                              <small class="text-danger">{{ option.error }}</small>
                            {{/if}}
                          {{/each}}
                        </div>
                        <div class="col-sm-2 mt-3">
                          <button type="button" class="btn btn-outline-success" {{ on "click"
                                                                                      (fn this.addOption field) }}>
                            <FaIcon @icon="plus" />
                          </button>
                        </div>
                      </div>
                    {{/if}}
                  </div>
                </div>
              </DraggableObject>
            {{/each}}
          </SortableObjects>

          <DraggableObjectTarget @action={{this.addFormElement}} amount={{"5"}}>
            <div class="card">
              <div class="card-body">
                Drag here to add form field
              </div>
            </div>
          </DraggableObjectTarget>

          <button type="button" class="btn btn-success btn-margin" {{ on "click" this.save }}>Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
