<h2>Log in with your POD provider</h2>

<ul>
  <li><button role="button" type="button" {{on "click" (fn this.login "https://solidcommunity.net/")}}>solidcommunity.net</button></li>
  <li><button role="button" type="button" {{on "click" (fn this.login "https://solid.redpencil.io/")}}>redpencil.io</button></li>
  <li><button role="button" type="button" {{on "click" (fn this.login "https://solidweb.org/")}}>solidweb.org</button></li>
  <li><button role="button" type="button" {{on "click" (fn this.login "https://login.inrupt.com/")}}>inrupt</button></li>
  {{#let "" as |provider|}}
    <li>
      <Input @value={{provider}} placeholder="https://your-own-pod-url.org/" aria-label="Your own POD IDP" />
      <button role="button" type="button" {{on "click" (fn this.login provider)}}>Custom Login</button>
    </li>
  {{/let}}
</ul>

{{outlet}}
